@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the body takes full height and allows smooth scrolling */
html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Allow vertical scrolling but hide the scrollbar */
body {
    overflow-y: scroll; /* Keep vertical scrolling enabled */
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit-based browsers */
}
