@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide the scrollbar for the whole app */
html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Hide the scrollbar */
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  /* This will ensure the body can still scroll smoothly */
  body {
    overflow-y: scroll; /* Keep vertical scrolling enabled */
  }
  
  /* Optionally, if you want to hide the scrollbar specifically on the page content */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  /* For Webkit-based browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit-based browsers */
  }
  